.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: large;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.divider {
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.approve-button {
    background-color: #144691;
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 18px;
    max-width: 100px;
    width: 140px;

    &:hover {
        background-color: darkgreen;
        color: white;
    }
}

.disapprove-button {
    background-color: #ab0f11;
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 18px;
    max-width: 130px;
    width: 200px;

    &:hover {
        background-color: darkred;
        color: white;
    }
}

@media screen and (max-width: 768px) {
    .table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .table th,
    .table td {
        font-size: 12px;
    }

    .approve-button,
    .disapprove-button {
        max-width: 100px;
        width: 120px;
    }

    .content {
        margin-left: 0;
        padding: 20px;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
}

.content {
    margin-left: 15vw;
    padding: 20px;
    box-sizing: border-box;
}
